@model VehicleCatalog.Models.ModelView.ModelIndexModel
@using X.PagedList.Mvc.Core;
@using X.PagedList;

<div class="row container" style="margin-top: 20px;">
    <div class="col-lg-5">
        <div class="jumbotron img-rounded" style="border:solid 1px; border-color: darkblue;">

            <h2 class="text-info">Model administration</h2>

            <hr class="my-4" style="background: linear-gradient(135deg, rgba(2,23,117,1) 0%,rgba(3,71,160,1) 44%,rgba(0,6,91,1) 100%); height: 1px;">

            <div class="container">

                <form asp-controller="Model" asp-action="Index" method="post">
                    <div class="row input-group">
                        <input name="search" id="search" class="form-control" type="text" placeholder="Search by Model or Manufacturer">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-info "><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>

            <hr class="my-4" style="background: linear-gradient(135deg, rgba(2,23,117,1) 0%,rgba(3,71,160,1) 44%,rgba(0,6,91,1) 100%); height: 1px;">

            <a asp-controller="Model" asp-action="SelectMake" class="btn btn-block btn-success">Create a new model</a>

            <hr class="my-4" style="background: linear-gradient(135deg, rgba(2,23,117,1) 0%,rgba(3,71,160,1) 44%,rgba(0,6,91,1) 100%); height: 0.5px;">

            <div class="">
                @if (!(Model.SearchString == null))
                {
                    <a asp-controller="Model" asp-action="Index" asp-route-page="" class="text-danger h4"><i class="far fa-window-close"></i> @Model.SearchString</a>
                }
            </div>

        </div>
    </div>

    <div class="col-lg-7">

        <div class="jumbotron  img-rounded" style="border:solid 1px; border-color: darkred;">

            <h2 class="text-danger ">
                List of automotive Models
            </h2>

            <hr class="my-4" style="background: linear-gradient(135deg, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); height: 1px;">

            <table class="table table-hover" id="makeIndexTable" style="height: 10px !important;">
                <thead class="h5">
                    <tr>
                        <th scope="col">
                            <a asp-controller="Model" asp-action="Index" asp-route-sort="NameDesc" asp-route-search="@Model.SearchString" asp-route-page="@Model.Pagination.CurrentPage"><i class="fas fa-sort-alpha-up"></i></a>
                            Model Name
                            <a asp-controller="Model" asp-action="Index" asp-route-sort="" asp-route-search="@Model.SearchString" asp-route-page="@Model.Pagination.CurrentPage"><i class="fas fa-sort-alpha-down"></i></a>
                        </th>
                        <th scope="col">
                            <a asp-controller="Model" asp-action="Index" asp-route-sort="AbrvDesc" asp-route-search="@Model.SearchString" asp-route-page="@Model.Pagination.CurrentPage"><i class="fas fa-sort-alpha-up"></i></a>
                            Manufacturer Abrv.
                            <a asp-controller="Model" asp-action="Index" asp-route-sort="AbrvAsc" asp-route-search="@Model.SearchString" asp-route-page="@Model.Pagination.CurrentPage"><i class="fas fa-sort-alpha-down"></i></a>
                        </th>
                        <th scope="col">
                            Delete Models
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var m in Model.ModelList)
                    {
                        <tr>
                            <td>
                                <a asp-controller="Model" asp-action="Detail" asp-route-id="@m.Id" class="btn btn-primary btn-block">
                                    @m.Name
                                </a>
                            </td>
                            <td class="text-center">
                                @m.Abrv
                            </td>
                            <td class="text-center">
                                <a asp-controller="Model" asp-action="Delete" asp-route-id="@m.Id" onclick="return confirm('Are you sure to delete this record?')" class="btn btn-sm btn-danger">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="container text-center">
                @Html.PagedListPager(Model.ModelList, page => Url.Action("Index", "Model", new { page = page, sort = Model.SortStatus, search = Model.SearchString }))
            </div>

            <hr class="my-4" style="background: linear-gradient(135deg, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); height: 1px;">

        </div>
    </div>

</div>
